#intro{
    
    background: url(../img/1.jpg) no-repeat center center fixed;
   background-size: cover;
    max-height: 2000px;
    color: azure;
    
    
}

.button--wapasha:hover {
	background:transparent;
	color: #26FF81;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

h1{
    font-size: 3em;
}

p{
    font-size: 1.5em;
}

#box2{
    text-align: center;
/*    background-color: rgba(89, 250, 40, 0.28);*/
    background: url(../img/2.jpg) no-repeat center fixed;
        
    padding: 2%;
}

/*
.overlay{
  background:rgba(0,0,0,.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:1;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}  
    
} 
*/



#overlay    {  background:rgba(0,0,0,.75);
               text-align:center;
               padding:45px 0 66px 0;
               opacity:1;
               -webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box2:hover #overlay {
               opacity:1;}

#box1:hover #overlay {
               opacity:1;}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:1.2em;}