html{
background-color: whitesmoke;
}

.cd-intro span{
    color: #26FF81
}
#intro{

background: url(../img/2.jpg) no-repeat center center fixed;
background-size: cover;
max-height: 2000px;
height: 90%;
color: azure;


}

/*styling open close button*/
.button-nav {
display:inline;
position:absolute;
right:50px;
top:6px;
z-index:999;
font-size:30px;

@media only screen and (min-width: 40.063em) { 
}
}



.button-nav a {
text-decoration:none;
}
.btn-open:after {
color:#333;
content:"\f0c9";
font-family:"FontAwesome";
transition-property:all .2s linear 0s;
-moz-transition:all .2s linear 0s;
-webkit-transition:all .2s linear 0s;
-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
color:#34B484;
}
.btn-close:after {
color:#fff;
content:"\f00d";
font-family:"FontAwesome";
transition-property:all .2s linear 0s;
-moz-transition:all .2s linear 0s;
-webkit-transition:all .2s linear 0s;
-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
color: #34B484;
}

#nav{
background-color: black;
width:100%;
display: block;
}

@media (max-width: 980px){
    #nav{
        background-color: transparent;
    }
}

/*
@media (min-width: 980px){
    .header-nav{
        display: none;
    }
}
*/

@media (min-width: 980px){
  .container{
    display: none;
      position: fixed;
  }
}

.no-js .menu {
display: none;
}

@media screen and (min-width: 40em) {
.no-js .menu {
display: block;
}

.no-js .menu {
display: none;
}
}

.brand{
     
}


.button--wapasha a{
color: #26FF81;
}

.button--wapasha:hover {
background:transparent;
color: #26FF81;
}

@media (min-width:980px){
    .button--wapasha{
        min-width: 15em;
	max-width: 20em;
    }
}


.sticky {
position: fixed;
width: 100%;
left: 0;
top: 0;
z-index: 100;
border-top: 0;
}

h1{
font-size: 3em;
}

p{
font-size: 1.5em;
}

#aboutsection h2{
margin-top: 4.5%;
font-size: 3em;
text-align: center;
}

#aboutsection p{

font-size: 1.5em;
text-align: center;
}


#box2{

text-align: center;
/*    background-color: rgba(89, 250, 40, 0.28);*/
background: url(../img/2.jpg) no-repeat center fixed;

padding: 0;
}

/*
.overlay{
background:rgba(0,0,0,.75);
text-align:center;
padding:45px 0 66px 0;
opacity:1;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}  

} 
*/



#overlay{  
background:rgba(0,0,0,.75);
text-align:center;
    height: 100%;
    width: 100%;
padding:45px 0 66px 0;
opacity:1;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box2:hover #overlay {
opacity:1;}

#box1:hover #overlay {
opacity:1;}

#plus       {  font-family:Helvetica;
font-weight:900;
color:rgba(255,255,255,.85);
font-size:1.2em;}




#aboutsection2{

/*    background-color:rgba(38, 255, 129, 0.36);*/
background:#0BAA4E;
background-size: cover;
margin: 0 auto;
padding: 0 auto;

}

#aboutsection2 i{
font-size: 4em;
padding: 10%;
/*   margin-left: 20em auto;*/
color:ghostwhite;
}

#aboutsection2 h2{

font-size: 2.2em;
font-weight: 500;
color:ghostwhite;
text-align: left;
}

#aboutsection2 p{
padding: 1%;
font-size: 1.1em;
color:ghostwhite;
text-align: left;
}




/*  ==================================
            portfolio section
=====================================*/
#portfoliosection{
margin-top: 10%;
margin-left: 2%;
margin-right: 2%;
}
#port, port::before, port::after,
img,
span {
-webkit-transition: all 0.2s;
transition: all 0.2s;
}

#port img {
height: auto;
width: 100%;
display: block;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);


}



#port {
/*  width: 33%;*/
/*  margin: 0 1px 1px 0;*/
float: left;
position: relative;
overflow: hidden;
margin: 0 auto;
padding: 0;
}
#port:hover img {
-webkit-transform: scale(1.25);
transform: scale(1.25);
-webkit-filter: grayscale(0%);
filter: grayscale(0%);

}
#port:hover span {
opacity: 1;
}
#port::before {
content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
}
#port:hover::before {
-webkit-backdrop-filter: blur(10px) saturate(120%);
backdrop-filter: blur(10px) saturate(120%);
}
#port::after {
content: "";
border: 0 solid #fff;
/*border-radius: 50%;*/
box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35), 0 0px 4px rgba(0, 0, 0, 0.35) inset;
height: 7em;
width: 30em;
background-color: rgba(0, 0, 0, 0.35);
position: absolute;
top: 50%;
left: 50%;
z-index: 2;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
opacity: 0;
}
#port:hover::after {
opacity: 1;
}

#port span {
color: #ffffff;
position: absolute;
top: 50%;
left: 50%;
z-index: 3;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
opacity: 0;
text-align: center;
text-transform: uppercase;
text-shadow: 0 0 4rem rgba(0, 0, 0, 0.65);
font: bold 1em sans-serif;

}


/*
@media screen and (min-width: 760px) {
.port {
width: calc(50% - 1px);
}
*/

/* ===============================
       contact section
==================================*/
#contactsection{
margin-top: 3%;
margin-left: 2%;
margin-right: 2%;
}

#contact-form h2{
color:ghostwhite;

}
#contact, label, input[name="submit"] {
/*position: relative;*/
}

label > span, input, textarea, button {
box-sizing: border-box;
}
label {
display: block;
}
label > span {
display: none;
}

input, textarea, button {
width: 100%;
padding: 0.5em;
border: none;
font: 300 100%/1.2 Ubuntu, sans-serif;
}
input[type="text"], input[type="email"], textarea {
margin: 0 0 1em;
border: 1px solid black;
outline: none;
border-radius: 1em;
}

input.invalid, textarea.invalid {
border-color:#0BAA4E;
}
textarea {
height: 6em;

}
input[type="submit"], button {
width: 20%;
background: black;
color: #ffffff;
border-radius: 2em;
}

input[type="submit"]:hover, button:hover {
background-color:#0BAA4E;
}
@media screen and (min-width: 30em) {
#contact-form h2 {
margin-left: 26.3736%;
font-size: 2em;
line-height: 1.5;
}
label > span {
vertical-align: top;
display: inline-block;
width: 56.3736%;
padding: 0.5em;
border: 1px solid transparent;
text-align: left;
color:#0BAA4E;
font-size: 1.2em;
}

input, textarea, button {
width: 100%;
line-height: 1.5;
}

textarea {
height: 15em;
border-radius: 1em;
}
input[type="submit"], button {
margin-left:40% ;
}
}
@media screen and (min-width: 48em) {
#contact-form {
text-align: justify;
line-height: 0;
}
#contact-form:after {
content: '';
display: inline-block;
width: 100%;
}
#contact-form h2 {
/*margin-left: 17.2661%;*/
text-align: center;
}


/* ===============================
        footer section
==================================*/
    
    
    
#footer{

background:rgba(0, 2, 2, 6); 
background-size:contain;
width: 100%;
height: auto;

}  
#social{
        padding: 2%;
    }


#social i{

font-size: 1em;
padding: 2%;
margin: 0;
display:inline;
width: 100px;
color: black;
} 

#social i a {
display: inline;

}

#social i:hover{
color:#0BAA4E;

}

/* General rule */
.button-big
{
  font-size: 2.5em;
  width: 4em;
  text-align:center;
  padding: 0.2em 0em 0.2em 0em;
}

/* Twitter class and animation */
.twitter
{
  
  border: 1px solid #0096ff;
}
#twitter i{
    color: #0096ff;
}

.twitter:hover
{
  animation: twitterAnim 0.4s normal forwards linear;
  -webkit-animation: twitterAnim 0.4s normal forwards linear;
}
@keyframes twitterAnim {
  50% {
    background-color:#3B5998; 
  }
  100% {
/*    background-color: #3B5998;*/
    border: 1px solid #0096ff;
    color: #fff;
  }
}

@-webkit-keyframes twitterAnim {
  50% {
/*    background-color: #3B5998;*/
  }
  100% {
    background-color: #3B5998;
    border: 1px solid #0096ff;
    color: #fff;
  }
}

/* Facebook class and animation */
.facebook
{
 
  border: 1px solid #3B5998;
}

#facebook i{
   color: #3B5998;  
    
}

.facebook:hover
{
  animation: facebookAnim 0.4s normal forwards linear;
  -webkit-animation: facebookAnim 0.4s normal forwards linear;
}

@keyframes facebookAnim {
  50% {
    background-color: #0096ff;
  }
  100% {
    background-color: 
    border: 1px solid #0096ff;
    color: #fff;
  }
}

@-webkit-keyframes facebookAnim {
  50% {
    background-color: #0096ff;
  }
  100% {
/*    background-color: #0096ff;*/
    border: 1px solid #3B5998;
    color: #fff;
  }
}

/* Google class and animation */
.gplus
{
  
  border: 1px solid #dd4b39;
}
#gplus i{
    color: #dd4b39;
    
}

.gplus:hover
{
  animation: gplusAnim 0.4s normal forwards linear;
  -webkit-animation: gplusAnim 0.4s normal forwards linear;
}

@keyframes gplusAnim {
  50% {
    background-color: #dd4b39;
  }
  100% {
/*    background-color: #dd4b39;*/
    border: 1px solid #dd4b39;
    color: #fff;
  }
 }
  
@-webkit-keyframes gplusAnim {
  50% {
    background-color: #dd4b39;
  }
  100% {
/*    background-color: #dd4b39;*/
    border: 1px solid #dd4b39;
    color: #fff;
  }
}

/* Dribble class and animation */
.dribbble
{
  
  border: 1px solid #ea4c89;
}

#dribbble i{
 color: #4398DB; 
}

.dribbble:hover
{
  animation: dribbbleAnim 0.4s normal forwards linear;
  -webkit-animation: dribbbleAnim 0.4s normal forwards linear;
}

@-webkit-keyframes dribbbleAnim {
  50% {
    background-color: #ea4c89;
  }
  100% {
/*    background-color: #ea4c89;*/
    border: 1px solid #ea4c89;
    color: #fff;
  }
}
  
@keyframes dribbbleAnim {
  50% {
    background-color: #ea4c89;
  }
  100% {
/*    background-color: #ea4c89;*/
    border: 1px solid #ea4c89;
    color: #fff;
  }
}
/* Yahoo class and animation */
.yahooo
{
  
  border: 1px solid #720e9e;
}

#yahooo i{
 color: #720e9e;   
}
.yahooo:hover
{
  animation: yahoooAnim 0.4s normal forwards linear;
  -webkit-animation: yahoooAnim 0.4s normal forwards linear;
}

@-webkit-keyframes yahoooAnim {
  50% {
    background-color: #720e9e;
  }
  100% {
/*    background-color: #720e9e;*/
    border: 1px solid #720e9e;
    color: #fff;
  }
}
@keyframes yahoooAnim {
  50% {
    background-color: #720e9e;
  }
  100% {
/*    background-color: #720e9e;*/
    border: 1px solid #720e9e;
    color: #fff;
  }
