
#container {
  width:  980px;
  margin: 0 auto;
}

section {
  height: 300px;
  margin: 20px 0;
  text-align: center;
  line-height: 300px;
  color: white;
  font-size: 60px
}

#main {
  text-align: center;
}


